.footer {
  text-align: center;
  align-items: center;
  line-height: 40px;
  font-size: large;
  font-weight: bolder;
  vertical-align: top;
  color: #ed4c5f;
  background-color: #e5e6e1;
  margin: 0rem;
}
